<div class="topbar">
  <a id="logo" class="title-wrapper" href="/">Moviesquad</a>

  <a href="/account">
    <img id="account-icon" src="<%= user.profileImage %>" />
    <!-- <%= user.firstName %> -->
  </a>
  <!-- <a class="logout" href="/logout">Logout</a> -->
</div>
