<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="empty-flex">
    <div class="eighty-centered">
      <div class="form-card">
        
        <form action="/signup" method="POST">
          <input
            type="text"
            name="watchlistName"
            placeholder="Watchlist Name"
            class="underlined-input"
          />
          <input
            type="text"
            name="lastName"
            placeholder="Last Name"
            class="underlined-input"
          />
          <input
            type="text"
            name="userName"
            placeholder="User Name"
            class="underlined-input"
          />
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="underlined-input"
          />
          <!-- <input type="file" name="profileImage" /> -->
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="underlined-input"
          />
          <input
            type="password"
            name="confirmPassword"
            placeholder="Confirm Password"
            class="underlined-input"
          />
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>

<%- include('partials/tail.ejs') %>
